.card{
    background-color: #fff;
    padding: 1rem 2rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.35);
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.icon{
    padding: 1rem;
}